.button {
    width: 180px;
    height: 65px;
    -unity-font-style: bold;
    font-size: 24px;
    background-color: rgba(192, 189, 112, 255);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    -unity-text-outline-width: 0;
    text-shadow: 0 0 0 rgba(0, 0, 0, 255);
}
